## Julia Files
*.jl.cov
*.jl.*.cov
*.jl.mem
docs/build
Manifest.toml

## Directory
# test/*
test/data
test/deprecated
test/hydro

# test/*.jl
*/untest/
temp/
Figures/
.vscode

*.tif
*.pdf

## data
*.rda
*.nc
*.jld2

scripts/
*.csv
